:root {
  --primary: #0075BE;
  --secondary: #0A285F;
  --warning: #FFCC00;
  --hover: #caa200;
  --dark: #333333;
  --light: #F5F5F5;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  color: var(--dark);
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  box-shadow: rgba(10, 40, 95, 0.12) 0px 3px 6px, rgba(10, 40, 95, 0.09) 0px 3px 6px;
  position: fixed;
  z-index: 1001;
}

.header-container {
  width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 180px;
}

.search {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: var(--light);
  padding: 8px;
  border-radius: 50px;
}

ul {
  display: flex;
}

ul li {
  color: var(--warning);
  padding: 0px 20px;
  list-style: none;
  transition: .3s ease;
}

ul li:hover {
  cursor: pointer;
  color: var(--hover);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 120px 0px 20px 0px;
}

.card {
  width: 220px;
  height: 300px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: .3S ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-image {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: rgba(3, 3, 3, .8);
  border-bottom-right-radius: 50px;
  color: var(--light);
  font-size: 18px;
  cursor: pointer;
  transition: .3s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
}

.popover:hover {
  width: 220px;
  height: 300px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 12px;
}

.popover-data {
  display: flex;
  flex-direction: column;
}

.popover-infos {
  display: none;
}

.popover:hover .popover-data span, .popover-data img{
  padding: 5px;
}

.popover:hover .popover-data span:first-child {
  display: none;
}

.popover:hover .popover-infos {
  display: block;
}

#pagination {
  padding: 40px;
}

.pagination-button {
  border: none;
  padding: 4px 8px;
  margin: 5px;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

.pagination-button:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.active {
  background-color: var(--warning);
  color: var(--white);
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  z-index: 998;
  left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

.loader-container p {
  left: 51%;
	top:60%;
	transform: translate(-50%, -50%);
  position: absolute;
}

.loader  {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	position: relative;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}